.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --primary-color:#4458dc;
  --secondry-color: #854fee;
  --bg-white:#fff;
  --bg-light:#faf8ff;
  --bg-black:#000;
  --bg-gray:#eee;

/*  text  */

--primary-text:#4458dc;
--secondry-text:#854fee;
--text-white:#fff;
--text-black:#000;
--text-gray:#777;
--font-family:'lato',sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Jost:ital,wght@0,200;0,300;0,400;0,600;0,700;1,500&family=Poppins&display=swap'); 
*{
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
}

.logo{
  font-size: 1.9rems;
  font-weight: 600;
  color: var(--text-color);
}
.logo span {
  font-size: 3.5rems;
  font-weight: 800;
  color: crimson;
}

nav{
  width: 100%;
  position: sticky !important;
  left: 0;
  top: 0;
  box-shadow: 0px 1px 8px rgba(0,0,0,.2);
  z-index: 10;
}

.navbar{
  background-color: white;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-nav .nav-link{
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav .nav-link:hover{
  color: var(--text-white);
  background-color: silver;
  
}

nav .btn-outline-info{
  display: inline-block;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid #ff9879;
  border-radius: 30px;
  color: #000;
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 800;
  transition: ease .50s;
}




/*   home   */

.home {
  padding: 3rem;
  margin: 5px;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: url(https://loading.io/asset/631548);
}

.home h1 {
  font-weight: 800;
  color: rgb(128, 128, 226);
}

.home h4 {
  font-weight: 800;
}

section {
  padding: 5rem 0;
}

.home .banner-content{
  vertical-align: middle;
  align-self: center;
}

.home img{

  filter: drop-shadow(0px 40px 10px rgba(0,0,0,.6));
  transition: 1s;
}

/*about*/

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: var(--text-black);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
  content:"";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
}

section .title span::after{
  bottom: 7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.about .left img {
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  filter: drop-shadow(4px 20px 10px rgba(0,0,0,.6));
  transition: 1s;

}

.about .about-details .right {
  width: 55%;
}

.about .topic {
  color: var(--text-black);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p{
  text-align: justify;
  color: var(--text-black);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.skills-img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.bars-box h3,span {
  font-size: 1.2rem;
  font-weight: 500;
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsl(260,100%,44%,0.4);
  border-radius: 0.5rem;
}

.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background:var(--primary-color) ;
  border-radius: 0.6rem;
}

.html-bar {
  width: 70%;
}
.css-bar {
  width: 65%;
}
.js-bar {
  width: 40%;
}

.project {
  display: flex;
  margin: 50px;
  width: auto;
  justify-items: center;
  justify-content: center;
}

.project-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 70%;
  justify-content: space-around;
  margin: auto;
}

.card{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
  transition: 0.5s ease-in-out;
}

.card:hover{
  transform: translateY(20px);
}

.card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(150,201,61,0.1), rgba(0,0,0,0.5));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover::before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  margin-top: auto;
  margin-right: 50px;
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  font-family: var(--font-family);
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}.card .info h1{
  margin: 0;
}

.card .info .btn{
  text-decoration: none;
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold ;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
}

.contact{
  margin: auto;
  padding-left: 20px;
}

/* Custom styles for the contact information section */
.col-md-6 {
  text-align: center;
  padding: 10px;
}

.contact a {
  background-color: #4458dc;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.contact a:hover{
  background-color: #ff9879;
  color: #000;
  transition: 0.2s;
}

.copyright{
  text-align: center;
}

.copyright a{
  color: #22cf91;
}
/*scroll */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background: var(--secondry-text);
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.15);
  display: none;
}


/*responsive*/

@media (max-width:1198px){
  section .content{
      width: 85%;
  }
}

@media (max-width:1000px){
   .about .about-details {
      justify-content: center;
      flex-direction: column;
   }
   .about .about-details .left {
      display: flex;
      justify-content: center;
      width: 100%;
   }

   .about .about-details .right{
      width: 90%;
      margin: 30px 0;
   }
   .project-card{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
   }

   .card .info{
      margin:auto;
   }
}

@media (max-width:900px){
  .about .left img {
      height: 350px;
      width: 350px;
  }
}

@media (max-width:750px){
 nav .navbar{
  width: 90%;
 }
 nav .navbar .menu{
  position: fixed;
  left: 100%;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  max-width: 400px;
  width: 100%;
  padding-top:60px ;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
 }
 .navbar .active .menu {
  left: 0;
 }
 nav .navbar .menu a{
  font-size: 23px;
  display: block;
  color: var(--bg-white);
  margin: 10px 0;
 }

 nav.stickey .menu a:hover{
  color: var(--primary-color);
 }

 nav ,.navbar .media-icons{
  display: none;
 }

 nav .menu .cancel-btn {
  display: block;
 }
 .home{
  margin-top: 5px;
  align-items: center;
  justify-content: center;
 }
  .skills .skills-container{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
  }
  .skills-container .text{
      width: 100%;
      margin-bottom: 50px;
  }

  .skills-container .skills-img{
      justify-content: center;
      align-items: center;
      margin: auto;
  }
  
  .skills-container .percent-bar {
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .project-card{
      margin: 20%;
      justify-content: space-around;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
   }

   .card{
      width: 250px;
      height: 290px;
   }

   .card .info{
      margin:auto;
      margin: auto;
   }
}

@media (max-width:500px){
  
  nav{
      width: 100%;
  }    
  .home{
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
  }
  .project-container{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  }       
}

@media (min-width:320px) and (max-width:480px){
  nav {
      width:100%;
     }
     nav .navbar .menu{
      position: fixed;
      left: 100%;
      top: 0;
      background: var(--primary-color);
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top:60px ;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
     }
     .navbar .active .menu {
      left: 0;
     }
     nav .navbar .menu a{
      font-size: 23px;
      display: block;
      color: var(--bg-white);
      margin: 10px 0;
     }
  
     nav.stickey .menu a:hover{
      color: var(--primary-color);
     }
  
     nav ,.navbar .media-icons{
      display: none;
     }
  
     nav .menu .cancel-btn {
      display: block;
     }
     .home{
      max-width: 80%;
      margin-top: 5px;
      align-items: center;
      justify-content: center;
     }
      .skills .skills-container{
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: flex;
      }
      .skills-container .text{
          width: 100%;
          margin-bottom: 50px;
      }
      .skills-container .skills-img{
          margin-right:90%;
      }
      
      .skills-container .percent-bar {
          justify-content: center;
          align-items: center;
          width: 100%;
      }
      .project .project-container{
          margin: 20px;
          width: 100%;
          flex-direction: column;
          display: flex;
          justify-content: center;
      }
}
